<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>学生成绩录入系统</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <div class="container">
      学生成绩录入
    </div>
  </header>

  <section>
    <div class="container">
      <section>
        <form action="">
          <div class="form-group">
            <label for="">姓名</label>
            <input type="text" id="name">
          </div>
          <div class="form-group">
            <label for="">语文</label>
            <input type="text" id="chinese">
          </div>
          <div class="form-group">
            <label for="">英语</label>
            <input type="text" id="english">
          </div>
          <div class="form-group">
            <label for="">数学</label>
            <input type="text" id="math">
          </div>
          <div>
            <div class="add-save">
              <input type="button" value="保存" id="save">
            </div>
          </div>
        </form>
      </section>
    </div>
  </section>
</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/layer.js"></script>
<script src="/javascripts/index.js"></script>
</html>